<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
        <add key="RedisPath" value="127.0.0.1:6379"/>
        <add key="RedisServePath" value="127.0.0.1"/>
        <add key="RedisServeHost" value="6379"/>
        <add key="RedisServeDB" value="1"/>
    </appSettings>

    <connectionStrings>
      <add name="OdbcSessionServices" connectionString="DSN=SessionState;" />
    </connectionStrings>
  
    <system.web>

        <compilation debug="true" targetFramework="4.0" />
        <sessionState mode="Custom" customProvider="CustomServiceProvider">
            <providers>
                <add name="CustomServiceProvider" type="RedisProvider.SessionProvider.CustomServiceProvider" connectionStringName="OdbcSessionServices" />
            </providers>
        </sessionState>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
    
</configuration>

